{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
{% endblock %}

{% block content %}
<div class="auth-details">
    <h2>Hello {{ user.username }}</h2>
    <div class="auth-details-wrapper">
        <img class="prof_image" src="{{ user.profile_image }}" alt="{{ user.username }} profile picture">
        <div>
            <p><span class="bio-heading">Name:</span> {{ user.username }}</p>
            <p><span class="bio-heading">Email:</span> <a href="mailto:{{user.email}}">{{ user.email }}</a></p>
            <p class="bio-heading">Bio:</p>
            <p>{{ user.bio }}</p>
        </div>
    </div>
</div>
<!-- insert a form here to edit details -->

<!-- <p>Change username</p>
<p>Change email</p>
<p>Edit bio</p>
<p>Upload profile picture</p> -->
{% endblock %}