@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Satisfy&display=swap');

:root {
    --black: #3F3F3F;
    --yellow: #F9A426;
    --purple: #8246ae;
    --white: #FFFFFF;
    --shadow: #a7a7a7;
}

/* * {
    font-family: "Raleway", sans-serif;
} */

body {
    background-color: var(--white);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

img {
    filter: grayscale(100%);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--purple);
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

#h1 {
    color: var(--yellow);
}

h2 {
   font-family: 'Raleway', sans-serif; 
   color: var(--black);
}

h3 {
    color: var(--black);
    font-size: 2rem;
    margin: 0;
}

#story h3 {
    font-family: 'Raleway', sans-serif; 
    font-size: 1.2rem;
}

#header-text {
    /* flex-basis: 80%; */
    display: flex;
}

nav {
    /* flex-basis: 20%; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    font-family: "Bebas Neue";
    color: var(--purple);
    font-size: 1.8rem;
    padding: 3px 10px 0;
    margin: 10px;
    border-radius: 10px;
    border: 3px solid var(--white);
    /* background-color: var(--purple);
    color: var(--white);
    border: 3px solid var(--white);
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--shadow); */
}

nav a:hover {
    border: 3px solid var(--purple);
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: "Raleway";
}

.author {
    text-decoration: underline;
}

/* ---- form ---- */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: var(--purple);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form label {
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    /* padding: 5px; */
    /* margin: 5px; */
    /* width: 100%; */
    /* border: solid 1px black; */
}

form p {
    padding: 0 10px;
    width: 100%;
}

form li, form span {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: white;
}

.form-h2 {
    font-family: "Bebas Neue";
    font-size: 2.5rem;
}

form input, form textarea {
    padding: 5px;
    width: 98%;
    /* height: 50px; */
    /* border: solid 1px silver; */
    border-radius: 10px;
}

button {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--yellow);
    border: 3px solid var(--white);
    color: var(--white);
    text-align: center;
    /* width: calc(100% + 5px); */
    /* border: none; */
    /* box-shadow: 1px 1px 5px var(--shadow); */
    border-radius: 10px;
}

button:hover {
    background-color: var(--white);
    color: var(--purple);
}

.log-button {
    padding: 10px;
    background-color: var(--purple);
    color: white;
    border-radius: 10px;
    border: 3px solid var(--white);
}

.log-button:hover {
    background-color: var(--yellow);
    border: 3px solid var(--white);
}

/* ---- end form ---- */

.prof_image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 25px;
}

.prof_image_stories {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50px;
}

img:hover {
    filter: none;
}