{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="auth-details">
        <h2>{{ author }}</h2>
        <div class="auth-details-wrapper">
            <img class="prof_image_stories" src="{{ author.profile_image }}" alt="{{ author.username }} profile picture">
            <div>
                <p class="auth-bio" >{{ author.bio }}</p>
            </div>
        </div>
    </div>

   <h3>Stories by {{ author }}</h3>
<div id="all-stories">
    {% if latest_stories %}
        {% for story in all_stories %}
            {% include "./storyCard.html" with story=story %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>
{% endblock %}