{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<div class="create-story">
    {% if add_story_view %}
    <h2 class="form-h2">Create new story</h2>
    {% else %}
    <h2 class="form-h2">Edit story</h2>
    {% endif %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if request.user.is_authenticated %}
    <input class="submit-button" type="submit" value="Submit">
    {% else %}
    <p class="warning-label">You are not logged in. Please log in to submit your story.</p>
    <a class="log-button" href="{% url 'login' %}">Log in</a>
    {% endif %}
</form>
</div>
{% endblock %}