{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
<section>
    <h2>Delete news story</h2>
    <form method="post">
        {% csrf_token %}
     <p>Are you sure you want to delete "{{ story.title }}"?</p>
        {{ form }}
     <input class="submit-button" type="submit" value="Confirm">
    <a class="log-button" href="">Cancel</a>
    </form>
</section>
{% endblock %}